
{% for message in app.flashes('notice') %}
    <div class="container-fluid">
        <div class="mt-3 alert flash-success alert alert-success rounded border shadow alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p class="font-weight-bold">{{ message }}</p>
        </div>
    </div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="container-fluid">
        <div class="mt-3 alert flash-success alert alert-success rounded border shadow alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p class="font-weight-bold">{{ message }}</p>
        </div>
    </div>
{% endfor %}


{% for message in app.flashes('warning') %}
    <div class="container-fluid">
        <div class="mt-3 alert flash-warning alert alert-warning rounded border shadow alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p class="font-weight-bold">{{ message }}</p>
        </div>
    </div>
{% endfor %}


{% for message in app.flashes('error') %}
    <div class="container-fluid">
        <div class="mt-3 alert flash-danger alert alert-danger rounded border shadow alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p class="font-weight-bold">{{ message }}</p>
        </div>
    </div>
{% endfor %}
